<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">

    <title>Sveglia</title>
</head>

<body>

    <style>
        * {
            font-size: large;
        }
    </style>
    {% for alarm in page.alarms %}
    Running clock {{ alarm.i }}: {{ alarm.frequency }} <br>
    {% endfor %}

    <a href="/removeall">Remove All</a> <br>


    <form>
        <label for="appt-time">Choose an appointment time: </label>
        <input id="appt-time" type="time" name="appt-time" value="08:00">
        <button onclick="return send()">SVEGLIA</button>
    </form>
    <!-- <a href="/sveglie/8">Per svegliarsi alle 8</a> <br>
    <a href="/sveglie/10">Per svegliarsi alle 10</a> <br>
    <a href="/sveglie/12">Per svegliarsi alle 12</a> <br>
    <a href="/sveglie/13">Per svegliarsi alle 13</a> <br> -->
    <!-- <a href="/removeall">ciao</a> -->
</body>

<script>
    function send() {
        var timeControl = document.querySelector('input[type="time"]');


        console.log("/sveglie/" + parseInt(timeControl.value.slice(0, 2) * 60) + parseInt(timeControl.value.slice(3)))
        window.location.replace("/sveglie/" + (parseInt(timeControl.value.slice(0, 2) * 60) + parseInt(timeControl.value.slice(3))));
        return false;
    }
</script>

</html>