<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">

    <title>Snacks</title>
</head>

<body>
    <form>
        <h1>Create a new snack routine!</h1>
        <h5>Choose when to dispense the snacks: </h5> 

        <input id="appt-time" type="time" name="appt-time" value="08:00">
        <button onclick="return send()">SNACK!</button>
    </form>

    <hr>

    <h5>Dispense a snack now!</h5> 
    <a href="/dispense_now/" class="button">Dispense now!</a> 
    <br>

    
    <style>
        * {
            font-size: large;
        }
        a:link { color:white }
        a:visited { color:white }
        </style>



    {% if (page.alarms)|length > 0 %}
        <hr>
        <h5>This are the active routines!</h5> 

        {% for alarm in page.alarms %}
        <blockquote>
            A snack will be dispensed at: {{ alarm.frequency }}  &nbsp
            <a href="/remove_snack/{{ alarm.id }}" class="button">Remove</a> <br>
        </blockquote>
        {% endfor %}

        {% if (page.alarms)|length > 1 %}
        <a href="/removeall" class="button">Remove All</a> <br>
        {% endif %}

    {% endif %}

</body>

<script>
    function send() {
        var timeControl = document.querySelector('input[type="time"]');

        console.log("/set_snack/" + parseInt(timeControl.value.slice(0, 2) * 60) + parseInt(timeControl.value.slice(3)))
        window.location.replace("/set_snack/" + (parseInt(timeControl.value.slice(0, 2) * 60) + parseInt(timeControl.value.slice(3))));
        return false;
    }
</script>

</html>